@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Young+Serif&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Nozha";
  src: url('/fonts/DigiNozha/DigiNozha2Bold.eot');
  src: url('/fonts/DigiNozha/DigiNozha2Bold.eot?#iefix') format('embedded-opentype'),
     url('/fonts/DigiNozha/DigiNozha2Bold.woff2') format('woff2'),
      url('/fonts/DigiNozha/DigiNozha2Bold.woff') format('woff'),
      url('/fonts/DigiNozha/DigiNozha2Bold.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}


@font-face {
  font-family: "Vazir";
  src: url("/fonts/vazir/Vazir.woff2") format("woff2"),
       url("/fonts/vazir/vazir.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

/* تعریف فونت Aviny */
@font-face {
  font-family: "Aviny";
  src: url("/fonts/Aviny/Aviny.woff2") format("woff2"),
       url("/fonts/Aviny/Aviny.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
body{
  font-family: "Vazir";
}



@layer base {
  html {
    font-family: 'Vazir';
  }
}

p,
span {
  @apply text-slate-500;
}

input {
  @apply focus:ring-black focus:border-black focus:outline-black;
}

::selection {
  @apply bg-black text-white;
}

[type="text"],
[type="email"],
[type="password"],
[type="number"],
[type="tel"],
[type="search"] {
  @apply form-input rounded text-sm;
}

input,
textarea,
select {
  @apply focus:!ring-0 focus:!outline-0 focus:!outline-offset-0 focus:!border-[#6fd1f9];
}

textarea {
  @apply form-textarea rounded text-sm resize-none;
}

select {
  @apply form-select rounded text-sm resize-none;
}

.custom-button {
  @apply cursor-pointer rounded-full border border-green-500/5 dark:border-blue-500/5 bg-green-500/5 dark:bg-blue-500/5 p-2 text-green-500 dark:text-blue-500 transition-colors hover:border-green-500/10 dark:hover:border-blue-500/10 hover:bg-green-500/10 dark:hover:bg-blue-500/10 hover:!opacity-100 group-hover:opacity-70;
}
.category-button {
  @apply cursor-pointer rounded-full border border-primary/10  bg-primary/5  p-2 text-primary dark:text-primary transition-colors hover:bg-primary/10  hover:!opacity-100 group-hover:opacity-70;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.autoplay-progress {
  position: absolute;
  right: 16px;
  bottom: 16px;
  z-index: 10;
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: white !important;
}
.autoplay-progress span{
  color: white;
}
.autoplay-progress svg {
  --progress: 0;
  position: absolute;
  left: 0;
  top: 0px;
  z-index: 10;
  width: 100%;
  height: 100%;
  stroke-width: 4px;
  stroke: orange;
  fill: none;
  stroke-dashoffset: calc(125.6px * (1 - var(--progress)));
  stroke-dasharray: 125.6;
  transform: rotate(-90deg);

}
.swiper-pagination {
  display: flex;
  justify-content: center;
}
.swiper-pagination span{
  background-color: white;
}
.profile-container {
  position: relative;
  width: 150px;
  height: 150px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid rgba(220, 233, 245, 1)  ;
  background: rgba(220, 233, 245, 0.8);
}

.dark .profile-container{
  border: 1px solid rgba(255, 255, 255, 0.8);
  background: rgba(255, 255, 255, 0.2);

}

.profile-pic {
  width: 92%;
  height: 92%;
  object-fit: cover;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.5);
  box-shadow: 0 0 1px rgba(255, 255, 255, 0.6);
}

.shine-effect::before,
.shine-effect::after {
  content: "";
  position: absolute;
  top: 0;
  width: 20%;
  height: 100%;
  background: rgba(220, 233, 245, 0.4)  ;
  transform: skewX(-45deg);
  border: 2px solid rgba(220, 233, 245, 0.8);
  animation: shine 3s infinite;
}

.dark .shine-effect::before {
  background: rgba(255, 255, 255, 0.5);
    border: 2px solid rgba(255, 255, 255, 0.8);

}

@keyframes shine {
  0% {
    left: -100%;
  }

  100% {
    left: 200%; 
  }
}